body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #10250d;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
}
.Navbar h1 {
  margin: 0;
  font-size: 20px;
}
.tombol-utama,
.tombol-kembali,
.tombol-kembali2 {
  position: fixed;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
.tombol-utama:hover,
.tombol-kembali:hover,
.tombol-kembali2:hover {
  background-color: #0056b3;
}
.tombol-utama {
  left: 51%;
  transform: translateX(-50%);
}
.tombol-kembali {
  left: 42%;
}

.tombol-kembali2 {
  margin-left: 55%;
  background-color: #333;
}
